<!-- Certifications -->
{?certifications}
<section id="certifications" class="certifications">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    {>"./partials/resume/controls/section-title" section="certifications" /}
					{#certifications}
                    <li>
                        {?date}<span class="note">{date|s}</span>{/date}
                        {?name}<p>{name|s}</p>{/name}
						{?issuer}<p><em>{issuer|s}</em></p>{/issuer}
						{?description}<p class="description">{description|s}</p>{/description}
                    </li>
					{/certifications}
                </ul>
            </div>
        </div>
    </div>
</section>
{/certifications}
<!-- end Certifications -->
