<!-- Navigation -->
<nav id="spy" class="spy hidden-sm hidden-xs hidden-print">
    <ul>
        <li class="active"><a href="#profile" class="withripple">Profile</a></li>
        <li><a href="#work-experience" class="withripple">Work experience</a></li>
		<li><a href="#certifications" class="withripple">Certifications</a></li>
		<li><a href="#courses" class="withripple">Courses</a></li>
        <li><a href="#education" class="withripple">Education</a></li>
        <li><a href="#professional-skills" class="withripple">Skills</a></li>
        <li><a href="#interests" class="withripple">Interests</a></li>
        <li><a href="#contact" class="withripple">Contact</a></li>
    </ul>
</nav>
<!-- end Navigation -->

<!-- Navigation for small devices -->
<nav id="mini-nav" class="spy visible-sm visible-xs hidden-print">
    <ul>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
                <li class="active"><a href="#profile">Profile</a></li>
                <li><a href="#work-experience">Work experience</a></li>
				<li><a href="#certifications">Certifications</a></li>
				<li><a href="#courses">Courses</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#professional-skills">Skills</a></li>
                <li><a href="#interests">Interests</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </li>
      </ul>
</nav>
<!-- end Navigation for small devices -->
