<!-- Profile -->
{?profile}
<section id="profile" class="profile activate">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    {>"./partials/resume/controls/section-title" section="profile" /}
                    <li>
                        <span class="note">Full name</span>
                        <p><strong>{profile.fullname|s}</strong></p>
                    </li>
                    <li>
                        <span class="note">Born</span>
                        <p><strong>{profile.birthdate|s}</strong></p>
                        <p><strong>{profile.birthplace|s}</strong></p>
                    </li>
	                {?profile.social}
	                {#profile.social}
                    <li>
                        {?title}<span class="note">{?icon}<i class="{icon}"></i> {/icon}{title|s}</span>{/title}
                        {?url}<p><strong><a href="{url}">{url}</a></strong></p>{/url}
                    </li>
	                {/profile.social}
	                {/profile.social}
                </ul>
            </div>
        </div>
    </div>
</section>
{/profile}
<!-- end Profile -->
