/* ------------------------------------------------------------- */
/* ---------------------------BRKOR----------------------------- */
/* ------------------------------------------------------------- */

/* General Styles ---------------------------------------------- */

body {
    background-position: top center;
    background-color: #eee;
    color: #000;
    font-family: 'Quattrocento', serif;
    font-size: 13px;
	overflow-x: hidden;
}

header {
	margin-top: 50px;
}

.background {
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    color: #000;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:active,
a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 15px;
    padding-left: 15px;
}

@media all and (max-width: 768px) {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.title {
    font-size: x-large;
    text-transform: uppercase;
    padding-left: 5px;
}

.title:hover:not(.up) {
	padding-left: 81px !important;
}

.title .icon {
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
	position: relative;
	min-width: 1em;
    left: -110px;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    font-size: smaller;
}

@media all and (max-width: 768px) {
    .title .icon {
        left: -40px;
        color: #fff !important;
    }
}

hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}

hr.empty {
    padding: 7px 0;
    border: 0;
}

strong {
    font-size: larger;
    font-weight: normal;
}


.progress {
    background-color: rgba(0, 0, 0, 0.05);
    height: 7px;
    margin-left: 9px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.progress-bar {
    width: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: width 3s ease;
    -moz-transition: width 3s ease;
    transition: width 3s ease;
}

.progress-bar-success {
    background-color: #ffa700;
    border: 1px solid #ffa700;
}

.annotation {
    float: right;
    opacity: .75;
    font-style: italic;
}

.chart {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-top: 15px;
    margin-bottom: 40px;
    margin-right: 3%;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 35px;
    left: 0;
}

.professional-skills ul li:not(:first-child) { text-align: center; }
.professional-skills ul li:not(:first-child) p { text-align: left; }

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
    opacity: .75;
    font-style: italic;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
}

.skill {
    display: block;
}

ul {
    padding: 16px 0 0 13px;
    margin: 0;
    border-left: 3px solid rgba(0, 0, 0, 0.05);
}


ul li {
    list-style-image: url('../img/list-style.png');
    padding: 0px 0px 0px 35px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

ul li:hover {
    list-style-image: url('../img/list-style-on.png');
    padding-left: 40px !important;
}

ul li.up:hover {
	padding-left: 5px !important;
}

.static:hover {
    padding-left: 27px !important;
}

ul li p {
    padding-left: 8px;
}

ul .note {
    display: inline-block;
    margin: 8px;
    opacity: .75;
    text-transform: uppercase;
}

ul .description {
    opacity: .75;
}

.title {
    list-style-image: url('../img/ls.png') !important;
}

/* Top icons ------------------------------------------------- */

.top-icons {
	position: fixed;
    top: 0;
    left: 8px;
	width: 100%;
    z-index: 9999;
}

.top-menu {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.top-menu:hover {
    background-color: #00ce08;
    color: #fff;
    border-bottom: 0;
}

.top-download-resume {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.top-download-resume:hover {
    background-color: #f7e459;
    color: #fff;
    border-bottom: 0;
}

.top-print-resume {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.top-print-resume:hover {
    background-color: #0093ff;
    color: #fff;
    border-bottom: 0;
}

.top-contact {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.top-contact:hover {
    background-color: #ff003b;
    color: #fff;
    border-bottom: 0;
}

.top-source {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 10px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.top-source:hover {
    background-color: #ff003b;
    color: #fff;
    border-bottom: 0;
}

/* Nav ------------------------------------------------- */

nav#spy {
    position: fixed;
    top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
    left: 20px;
    z-index: 999;
}
nav#mini-nav {
    position: fixed;
    z-index: 999;
}

nav ul {
    padding: 25px 0 0 14px;
    margin: 0px;
    border-left: 2px solid rgba(0, 0, 0, 0.05);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

nav ul li:first-child {
    margin-top: -35px;
}

nav ul li:last-child {
	margin-bottom: -45px;
}

nav ul li {
    list-style-image: url('../img/list-style-nav.png');
/*    padding: 5px 15px;*/
	padding: 0;
	margin: 0 12px 0 -3px;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

nav ul li a {
	padding: 5px 15px;
	border-radius: 2px;
	display: block;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

nav ul li:hover {
    list-style-image: url('../img/list-style-nav-on.png');
/*    padding-left: 25px !important;*/
	padding: 0 !important;
    color: #000;
}

nav ul li:hover a {
    color: #000;
	padding-left: 25px !important;
}

nav ul li.active {
    list-style-image: url('../img/list-style-nav-on.png');
    color: #000;
}

nav a {
    border-bottom: 0;
}

nav a:hover,
nav a:active,
nav a:focus {
    border-bottom: 0;
}

nav li a {
    border-bottom: 0;
    color: rgba(0, 0, 0, 0.5);
}

nav .active a {
    color: #000;
    font-weight: bold;
}

#mini-nav {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-weight: bold;
}

#mini-nav ul {
    width: 100%;
    border: 0;
    padding: 7px 0 10px 0;

}

#mini-nav ul li {
    list-style-image: none;
    padding: 0 !important;
}

#mini-nav ul li:first-child {
    margin-top: 45px;
}
#mini-nav ul li:last-child {
    margin-bottom: -2px;
}
#mini-nav ul li:hover {
	padding: 0 !important;
}

#mini-nav .dropdown-menu {
    margin: 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
	opacity: 0;
	width: 100%;
}
#mini-nav .open > .dropdown-menu {
	opacity: 1;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-ms-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #000;
}

.dropdown-menu a.btn {
	width: 100%;
	margin: 0;
	font-weight: 500;
	font-family: 'Oswald';
}

/* Header ------------------------------------------------- */

.face {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

@media screen {
    .face {
        max-width: 60vw;
        max-height: 60vw;
    }
}

.header-name {
    background-color: #441736;
    padding: 5px 17px;
    display: inline-block;
    color: #fff;
    font-size: 36px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-left: 10px solid #C8272C;
    border-right: 10px solid #0472B1;
    margin-bottom: 0;
}

.header-title {
    font-size: 24px;
    margin-top: 5px;
}

.header-subtitle {
    padding-top: 25px;
    /* font-style: italic; */
    /* font-weight: 300; */
    margin-bottom: 0;
    font-size: 14px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

/* Profile ------------------------------------------------- */

.profile .title .icon{
    background-color: #9300ff;
}

/* Certifications ------------------------------------------ */

.certifications .title .icon{
    background-color: #f00;
}

/* Work experience ------------------------------------------------- */

.work-experience .title .icon{
    background-color: #00a7ff;
}

/* Education ------------------------------------------------- */

.education .title .icon{
    background-color: #07b500;
}

/* Professional skills ------------------------------------------------- */

.professional-skills .title .icon{
    background-color: #ffa700;
}

/* Personal skills ------------------------------------------------- */

.personal-skills .title .icon{
    background-color: #00aca5;
}

/* Interests ------------------------------------------------- */

.interests .title .icon{
    background-color: #f00;
}

/* Portfolio ------------------------------------------------ */

.portfolio .title .icon{
    background-color: #0089ff;
}

.portfolio img {
    width: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.portfolio img:hover {
    opacity: .75;
}

.portfolio img:first-child {
    margin-left: 8px;
}

.dismiss {
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    top: -4px;
    left: 100%;
    color: #fff;
    padding: 5px 7px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-bottom: 0 !important;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dismiss:hover {
    background-color: #fff;
}

.modal {
	text-align: center;
}

.modal img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Contact Form ------------------------------------------------ */

.contact .title .icon{
    background-color: #00c60f;
}

.contact ul li:hover {
    padding-left: 27px;
}

form {
    margin-left: 9px;
}

.contact-on {
    position: fixed;
    bottom: 50px;
    background: #202020;
    height: auto;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 25px;
    z-index: 999;
    display: none;
}

.form-control {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 15px;
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: none;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border: 0;
    background-color: #fff;
    color: #000;
}

textarea.form-control {
    height: 85px;
    resize: none;
}

.input-group-addon {
    color: #000;
    background-color: rgba(0, 0, 0, 0.05);
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

form .icon {
    opacity: .25;
}

.btn-success {
    font-size: 12px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.btn .icon {
    margin-right: 7px;
    opacity: 1;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    color: #fff;
    background-color: #15b900;
    border-color: rgba(0, 0, 0, 0.1);
}

/* Up ------------------------------------------------ */

.contact .title.up .icon{
    background-color: #ffad00;
}

.up {
    cursor: pointer;
}

/* Settings ------------------------------------------------ */

.settings {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
	top: 41px;
    left: -200px;
    width: 200px;
    height: 120px;
    color: #fff;
    z-index: 1000;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.settings:hover {
    left: 0;
}

.settings .icon {
    background-color: rgba(0, 0, 0, 0.75);
    position: relative;
    top: 0;
    left: 100%;
    padding: 12px;
    border-radius: 0 3px 3px 0;
}

.settings .btn {
    display: block;
    border: 0;
    color: #fff;
    border-radius: 0;
    margin: 0 20px;
    font-size: 13px;
}

.settings .btn:hover {
    background-color: #fff;
    color: #000;
}

.settings .btn.active {
    background-color: #0066ff;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.title, .note {
    font-family: 'Oswald';
    font-weight: 500;
}

.tooltip {
    font-family: 'Oswald';
    font-weight: 300;
}

.header-line {
	display: inline;
}

.skill-specific {
	margin-top: 0.5em;
}
.skill-specific .progress {
	margin-top: 0.5em;
	margin-bottom: 0;
}

#personal-skills div.skill-specific:first-of-type {
	margin-top: -1em;
}

#professional-skills ul li, #personal-skills ul li {
	margin-top: 1em;
}

ul:hover li i {
	transition: transform 0.5s;
	transform: scale(1.3);
}

@media print, (min-width: 992px), (max-width: 766px) and (min-width: 630px) {
	.header-line {
		display: block;
	}

	.title:hover:not(.up) {
		padding-left: 5px !important;
	}
}

@media print {
    body {
        background: none;
    }

    .tooltip { display: none !important; }

    .header-name { color: black; border: none; background-color: white; }

    a, a:link, a:hover, a:visited, a:active { text-decoration: none; }
    a:link:after, a:visited:after { content: '' !important; }
}

@media screen and (max-width: 990px) {
	.face {
		margin-top: 25px;
	}
}

.background {
	padding: 0 !important;
}

p {
	word-break: break-word;
}

@media screen {
	.hidden-screen {
		display: none !important;
	}
}