</head>
<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->

<html class="not-ie" lang="en">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<meta name="description" content="Ionut Costica's resume" />
<meta name="keywords" content="Ionut Costica, resume, cv, curriculum vitae, life, story"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<title>Ionut Costica | Resume</title>

<!-- google web font-->
<link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700|Oswald:400,300,700' rel='stylesheet' type='text/css'>

<!-- style sheets-->
<link rel="stylesheet" media="all" href="/resume/css/bootstrap.css" type="text/css"/>
<link href="/resume/css/roboto.min.css" rel="stylesheet">
<link href="/resume/css/material.min.css" rel="stylesheet">
<link href="/resume/css/ripples.min.css" rel="stylesheet">
<link rel="stylesheet" media="all" href="/resume/css/custom.css" type="text/css"/>

<!-- main jquery libraries / others are at the bottom-->
<script src="/resume/js/jquery.min.js " type="text/javascript"></script>
<script src="/resume/js/modernizr.js" type="text/javascript"></script>

<body>

<!-- Top icons -->
<div class="top-icons hidden-print">
	<a class="top-menu hidden-xs hidden-sm btn btn-flat btn-material-purple" data-toggle="tooltip" data-placement="bottom" title="Menu toggle"><i class="mdi-navigation-menu"></i></a>
	<a href="/resume/resume.pdf" class="top-download-resume hidden-xs hidden-sm btn btn-flat btn-material-blue" data-toggle="tooltip" data-placement="bottom" title="Download resume"><i class="mdi-file-cloud-download"></i></a>
	<a href="javascript:window.print();" class="top-print-resume hidden-xs hidden-sm btn btn-flat btn-material-red" data-toggle="tooltip" data-placement="bottom" title="Print resume"><i class="mdi-action-print"></i></a>
	<a class="top-contact hidden-xs hidden-sm btn btn-flat btn-material-orange" data-toggle="tooltip" data-placement="bottom" title="Contact me"><i class="mdi-action-info-outline"></i></a>
</div>
<!-- end Top icons -->

<!-- Navigation -->
<nav id="spy" class="spy hidden-sm hidden-xs hidden-print">
    <ul>

        <li class="active"><a href="#profile" class="withripple">Profile</a></li>
        <li><a href="#work-experience" class="withripple">Work experience</a></li>
		<li><a href="#certifications" class="withripple">Certifications</a></li>
		<li><a href="#courses" class="withripple">Courses</a></li>
        <li><a href="#education" class="withripple">Education</a></li>
        <li><a href="#professional-skills" class="withripple">Skills</a></li>
        <li><a href="#interests" class="withripple">Interests</a></li>
        <li><a href="#contact" class="withripple">Contact</a></li>
    </ul>
</nav>
<!-- end Navigation -->

<!-- Navigation for small devices -->
<nav id="mini-nav" class="spy visible-sm visible-xs hidden-print">
    <ul>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Menu</a>
            <ul class="dropdown-menu">
                <li class="active"><a href="#profile">Profile</a></li>
                <li><a href="#work-experience">Work experience</a></li>
				<li><a href="#certifications">Certifications</a></li>
				<li><a href="#courses">Courses</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#professional-skills">Skills</a></li>
                <li><a href="#interests">Interests</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </li>
      </ul>
</nav>
<!-- end Navigation for small devices -->

<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <img src="/resume/img/profile.jpg" class="face" alt="">
                <hr class="empty" style="margin-top: -40px">
                <h1 class="header-name">Ionut Costica</h1>
                <h2 class="header-title">Full Stack Web Developer</h2>
                <p class="header-subtitle"><b>Hello, I'm Ionut!</b>&nbsp;
					I'm a Full Stack Web Developer &amp; Web Application Developer.<br/>
					I'm passionate about making great web sites &amp; applications, both client and server-side.<br/>
					I love creating programs with <em>engaging interfaces</em> and a <em>streamlined user experience</em>.<br/>
					I like code that is <em>performant</em>, <em>elegant</em> and easily <em>maintainable</em>.</p>
            </div>
        </div>
    </div>
</header>
<!-- end Header -->

<div class="col-sm-12 background">
<!-- Profile -->
<section id="profile" class="profile activate">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-user"></span>Profile</li>
                    <li>
                        <span class="note">Full name</span>
                        <p><strong>Ionut Costica</strong></p>
                    </li>
                    <li>
                        <span class="note">Born</span>
                        <p><strong>20 May 1986</strong></p>
                        <p><strong>Timisoara, Romania</strong></p>
                    </li>

                    <li>
                        <span class="note">LinkedIn Profile</span>
                        <p><strong><a href="https://www.linkedin.com/in/ionutcostica">https://www.linkedin.com/in/ionutcostica</a></strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Profile -->

<!-- Work experience -->
<section id="work-experience" class="work-experience">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-briefcase"></span>Work experience</li>
                    <li>
                        <span class="note">January 2012 - Current (3 years, 5 months)</span>
                        <p><strong>SC AEM SA</strong></p>
                        <p><strong>Web Application Developer</strong></p>
                        <p class="description">Developing Intranet Web Applications for AMR (Automated Meter Reading), meter configuration and report generation.</p>
						<p class="description"><strong>Technologies</strong><br/><em>Back-end:</em> C#, ASP.NET, DevExpress, Microsoft SQL Server, MongoDB<br/><em>Front-end:</em> HTML5, CSS3, JavaScript, JQuery<br/>Additionally, worked on improving the user interface and user experience of the application, and convinced the management to let me implement a caching system using MongoDB as a storage layer, which greatly improved overall performance and user experience.</p>
                    </li>
					<li>
                        <span class="note">September 2011 - January 2012 (4 months)</span>
                        <p><strong>West University of Timisoara Students' Union</strong></p>
                        <p><strong>Web Developer</strong></p>
                        <p class="description">Website optimization, database administration &amp; optimization<br/>Wordpress plug-in development<br/></p>
						<p class="description"><strong>Technologies</strong><br/><em>Back-end:</em> PHP, MySQL<br/><em>Front-end:</em> HTML, CSS, JavaScript, Mootools</p>
                    </li>
					<li>
                        <span class="note">May 2011 - July 2011 (3 months)</span>
                        <p><strong>Yale University</strong>, professor Richard Yang</p>
                        <p><strong>Undergraduate Researcher</strong></p>
                        <p class="description">Android application development using Adobe Flash &amp; Adobe Flex.</p>
                    </li>
					<li>
                        <span class="note">March 2008 - May 2009 (1 year, 3 months)</span>
						<p><strong>Maya</strong> (student group at <em>Yale University</em>)</p>
                        <p><strong>Web Designer &amp; Web Developer</strong> (part-time)</p>
                        <p class="description">Web Design &amp; Web Development for various other on-campus student groups.</p>
                    </li>
					<li>
                        <span class="note">July 2008 - September 2008 (3 months)</span>
                        <p><strong>Yale University</strong>, professor Holly Rushmeier</p>
                        <p><strong>Undergraduate Researcher</strong> in Computer Vision &amp; Computer Graphics</p>
                    </li>
					<li>
                        <span class="note">March 2005 - August 2006 (1 year, 6 months)</span>
                        <p><strong>Freelance</strong></p>
                        <p><strong>Web Developer</strong></p>
                        <p class="description">Various Web Development and Web Design projects.</p>
                    </li>
					<li>
                        <span class="note">October 2004 - February 2005 (5 months)</span>
                        <p><strong>Wolfgang Engel</strong></p>
                        <p><strong>3D Graphics Programmer</strong> (part-time)</p>
                        <p class="description">3D Graphics programming (HLSL/GPU assembler), especially procedural algorithms for texture and object generation in real-time, working with the editor of the "ShaderX" book series</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Work experience -->

<!-- Certifications -->
<section id="certifications" class="certifications">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-certificate"></span>Certifications</li>
                    <li>
                        <span class="note">April 2015</span>
                        <p><strong>MongoDB Certified Developer</strong> Associate Level</p>
						<p><strong>The MongoDB Certification Program</strong></p>
						<p class="description"><a href=""></a></p>
                    </li>
					<li>
                        <span class="note">1999</span>
                        <p><strong>Certified C/C++ Programmer</strong></p>
						<p><strong>International Computer School</strong></p>
						<p class="description">Certified by the <em>Romanian Ministry of Education</em></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Certifications -->

<!-- Education -->
<section id="courses" class="education">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-book"></span>Courses</li>
					<li>
                        <span class="note">March 2015 - May 2015</span>
                        <p><strong>M101JS: MongoDB for Node.js Developers</strong></p>
                        <p><strong>MongoDB University</strong><br/>(<a href="http://university.mongodb.com/">http://university.mongodb.com</a>)</p>
						<p class="description">Finished course with a score of 100% placing me in the top 6% of the approximately 5000 students taking it.</p>
                    </li>
					<li>
                        <p><strong>Advanced Rendering</strong></p>
                        <p><strong>viCampus</strong>, taught by <em>Wolfgang Engel</em>, editor of the <em>ShaderX</em> book series</p>
                    </li>
					<li>
                        <p><strong>Introduction to 3D Programming</strong></p>
                        <p><strong>viCampus</strong></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Education -->

<!-- Education -->
<section id="education" class="education">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-book"></span>Education</li>
                    <li>
                        <span class="note">September 2007 - June 2011</span>
                        <p><strong>Bachelors Degree - Computer Science (candidate)</strong></p>
                        <p><strong>Yale University</strong> in New Haven, Connecticut, USA</p>
                    </li>
                    <li>
                        <span class="note">September 2005 - June 2007, September 2014 - Present</span>
                        <p><strong>Bachelors Degree - Computer Science in English (candidate, est. September 2015)</strong></p>
                        <p><strong>West University of Timisoara</strong> in Timisoara, Romania</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Education -->

<!-- Professional skills -->
<section id="professional-skills" class="professional-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-tasks"></span>Professional skills</li>
                    <li>
                        <p>Web Development (Front-end)<span class="annotation pull-right">90%</span></p>
                        <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div></div>
						<span class="chart" data-percent="90"><span class="skill">HTML5</span><span class="percent"></span></span>
						<span class="chart" data-percent="90"><span class="skill">CSS3</span><span class="percent"></span></span>
						<span class="chart" data-percent="70"><span class="skill">LESS</span><span class="percent"></span></span>
						<span class="chart" data-percent="95"><span class="skill">JavaScript</span><span class="percent"></span></span>
						<span class="chart" data-percent="80"><span class="skill">jQuery</span><span class="percent"></span></span>
						<span class="chart" data-percent="80"><span class="skill">Mootools</span><span class="percent"></span></span>
                    </li>
                    <li>
						<p>Web Development (Back-end)<span class="annotation pull-right">90%</span></p>
                        <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div></div>
						<span class="chart" data-percent="90"><span class="skill">ASP.NET/C#</span><span class="percent"></span></span>
						<span class="chart" data-percent="70"><span class="skill">node.js</span><span class="percent"></span></span>
						<span class="chart" data-percent="60"><span class="skill">PHP</span><span class="percent"></span></span>
                    </li>
					<li>
						<p>Database programming<span class="annotation pull-right">85%</span></p>
                        <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div></div>
						<span class="chart" data-percent="90"><span class="skill">MSSQL</span><span class="percent"></span></span>
						<span class="chart" data-percent="85"><span class="skill">MongoDB</span><span class="percent"></span></span>
						<span class="chart" data-percent="70"><span class="skill">MySQL</span><span class="percent"></span></span>
                    </li>
					<li>
						<p>General programming<span class="annotation pull-right">85%</span></p>
                        <div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div></div>
						<span class="chart" data-percent="90"><span class="skill">MSSQL</span><span class="percent"></span></span>
						<span class="chart" data-percent="85"><span class="skill">MongoDB</span><span class="percent"></span></span>
						<span class="chart" data-percent="70"><span class="skill">MySQL</span><span class="percent"></span></span>
						<span class="chart" data-percent="70"><span class="skill">MySQL</span><span class="percent"></span></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Professional skills -->

<!-- Personal skills -->
<section id="personal-skills" class="personal-skills">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-stats"></span>Personal skills</li>
                    <li>
                        <span class="chart" data-percent="95"><span class="skill">Creativity</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="85"><span class="skill">Social skills</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                        <span class="chart" data-percent="80"><span class="skill">Leadership</span>
                            <span class="percent"></span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Personal skills -->

<!-- Interests -->
<section id="interests" class="interests">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-heart-empty"></span>Interests</li>
                    <li>
                        <p><strong>Books</strong></p>
                        <p class="description">Vestibulum ut pharetra diam, vitae hendrerit sapien. Praesent porttitor augue nec semper suscipit. Nulla et cursus lectus. Praesent vel feugiat dolor.</p>
                    </li>
                    <li>
                        <p><strong>Art</strong></p>
                        <p class="description">Donec vel nulla mollis, mattis orci vel, vulputate tellus. Cras interdum sapien quis risus mattis egestas. Etiam rhoncus lacus turpis, in vulputate arcu imperdiet non.</p>
                    </li>
                    <li>
                        <p><strong>Basketball</strong></p>
                        <p class="description">Maecenas velit eros, congue quis accumsan sed, consequat id magna. Pellentesque at auctor lacus.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Interests -->

<!-- Contact -->
<section id="contact" class="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-5">
                <ul>
                    <li class="title"><span class="glyphicon glyphicon-envelope"></span>Contact</li>
                    <li>
                        <span class="note">Address</span>
                        <p><strong>7A Aleea Hotinului</strong></p>
                        <p><strong>Timisoara 300668, Timis, Romania</strong></p>
					</li><li>
                        <span class="note">Mobile Phone</span>
                        <p><strong>+40 735 655 650</strong></p>
					</li><li>
                        <span class="note">Email</span>
                        <p><strong><a href="mailto:ionut.costica@gmail.com">ionut.costica@gmail.com</a></strong></p>
                    </li>
                    <li class="title up hidden-print"><span class="glyphicon glyphicon-arrow-up"></span>Up</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- end Contact -->

<footer id="header">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <hr class="empty" style="margin-top: 0px; border-top: 3px solid rgba(0, 0, 0, 0.04);">
            </div>
        </div>
    </div>
</footer>
</div>
<!-- Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/resume/js/bootstrap.min.js"></script>
<script src="/resume/js/bootstrap-progressbar.js"></script>
<script src="/resume/js/material.min.js"></script>
<script src="/resume/js/ripples.min.js"></script>

<script src="/resume/js/spy.js"></script>
<script src="/resume/js/scripts.js"></script>
<!-- Charts -->
<script src="/resume/js/jquery.easypiechart.js"></script>
<script src="/resume/js/chart.js"></script>

</body>
</html>
